@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.Imagenes.Count() == 0)
	{
	 <P>Nada para mostrar</P>
	}

@foreach (Imagenes planta in Model.Imagenes){

    

}
